
body {
	background-image: url(../images/green_bg.png);
}


div#wrapper {
background: url(../images/green_glare.png) 0% 0% no-repeat #000;
}

h1.componentheading {
border-bottom:1px #66FF33 dotted;
}

h2.contentheading {
color: #66FF33;
}

a:link, a:visited {
	color: #66FF33;
}

a:hover {
color:#F7F7F7;
}

/*#nav ul li a, 
#nav ul li a:visited {
color: #66FF33; 
}
#nav ul li a:hover {
color: #D4D4D4; 
}*/


/*Left Column List Menu*/

#left ul.menu li a:link, 
#left ul.menu li a:visited {
	color: #F9F9F9;
	background: url(../images/green_menubg.png) no-repeat left center;
}

#left ul.menu li a:hover {
	color: #66FF33;
	background: url(../images/menubg.png) no-repeat left center;
}

