html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.region nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 0 1rem;
    padding: 0;
    clear: both;
}

.region nav ul > li > a,
.region .main-menu ul > li > a {
    display: block;
    padding: 0.5rem 1rem;
}

#block-emc-branding {
    float: left;
    margin: 0;
    text-align: left;
    padding: 1rem 0;
}

#block-emc-branding a img {
    display: block;
    float: left;
    position: relative;
    z-index: 100;
    width: auto;
}

#block-emc-branding #sitename {
    margin: 0 0 0 60px;
}

#block-emc-branding #sitedescription {
    display: block;
    margin: 0 0 0 60px;
}

#main > article {
    padding: 0 1rem 1rem;
}

.node__meta {
    margin-top: 0;
    padding: 0.25rem 0.5rem;
    margin-bottom: 1rem;
}

@media only screen and (min-width: 800px) {
    #header,
    header[role=banner],
    .main-menu,
    #main,
    .region-top,
    .region-primary-menu,
    .region-highlighted,
    main,
    .region-footer,
    .region-breadcrumb {
        max-width: 960px;
        margin: 0 auto;
    }
    main[role=main] {
        max-width: 960px;
    }

  .with-sidebar #main{
        max-width: 646px;
    }

    main {
        display: flex;
        flex-direction: row;
        margin-bottom: 30px !important;
    }

    main > section {
        width: 100%;
    }

    .page-node-type-iframe main > section {
        width: 80%;
    }

    .node--type-iframe > div {
        text-align: center;
    }

    .node--type-iframe > div h3 {
        text-align: left;
    }

    main > aside {
        flex: 1 0 0;
    }

    #sitename span.sup {
        font-size: 0.5em;
        vertical-align: top;
    }

    #block-emc-branding {
        padding: 1rem 0 1rem 1rem;
    }

    .block-system-breadcrumb-block {
        margin: 0;
    }

    .block-system-breadcrumb-block ol {
        margin: 0;
        padding: 0;
    }

    .region-primary-menu nav,
    .region .main-menu {
        position: relative;
        margin-bottom: 1rem;
    }

    .region nav ul {
        display: flex;
        flex-direction: row;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .region nav ul li {
        display: block;
        flex: 1 0 auto;
    }

    .region nav ul > li > a,
    .region .main-menu ul > li > a {
        display: block;
        padding: 0.5rem 1rem;
    }

    .region-top,
    .region-highlighted {
        display: flex;
        flex-direction: row;
        text-align: center;
        padding: 0 0 3rem;
    }

    .region-top .block,
    .region-highlighted .block {
        display: block;
        flex: 1 1 0;
    }

    .block {
        /*padding: 0 1rem 1rem;*/
        margin: 0 0 1rem;
    }

    .region-highlighted .block {
        margin: 0 1rem 1rem;
    }

    /*.block:first-child {
        padding-left: 0;
    }

    .block:last-child {
        padding-right: 0;
    }*/
    .block h3 {
        margin: 0 0 1rem;
    }

    main aside .block h3 {
        padding: 1rem;
    }

    #main > article {
        padding: 1rem 2rem 2rem;
    }

    #main + aside {
        margin-left: 2rem;
    }

    footer {
        margin-top: 2rem;
    }

    header[role=banner],
    .region-primary-menu {
        clear: both;
    }

    .node--type-article.node--view-mode-teaser .node__content .field--name-field-feature-image {
        float: left;
        margin: 1em 1em 0 0;
    }

    .field-collection-item--name-field-image-media-set .field--name-field-image {
        float: left;
        margin: 0 1em 1em 0;
    }
}

/* Full page layout */
.page-node-100 main,
.page-node-100 #main,
.page-node-101 main,
.page-node-101 #main,
.page-node-107 main,
.page-node-107 #main,
.page-node-108 main,
.page-node-108 #main,
.page-node-110 main,
.page-node-110 #main {
  max-width: 1600px;
}

